#block {
	margin-top: 70px;
	display: block;
}

.month {
	padding-top: 10px;
	width: 200px;
	height: auto;
	text-align: center;
	font-family: Typography;
	font-weight: 100;
	margin-top: 20px;
	margin-bottom: 0px;
	background-image: url(../imgs/month.png);
	background-size: cover;
	color: rgb(106, 106, 106);
}

.day {
	padding-left: 20px;
	padding-right: 20px;
	width: 60px;
	text-align: center;
	background-color: #D9D9D9;
	color: rgb(106, 106, 106);
	font-family: Typography;
	font-weight: 60;
}

.line {
	width: 360px;
	height: auto;
	display: flex;
	align-items: center;
	/* 垂直中心 */
	justify-content: center;
	/* 水平中心 */
}

.line::after {
	content: '';
	flex-grow: 1;
	/* 余白を分け与える */
	height: 2px;
	background: rgb(0, 0, 0);
}

.day-block {
	margin-left: 40px;
}

.wrapper {
	padding: 30px;
	height: auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;
}

.li-item {
	width: 80px;
	height: 60px;
	background-color: black;
}

.total-time {
	margin-right: 10%;
	margin-left: 30%;
	background-color: #D9D9D9;
	color: rgb(106, 106, 106);
	font-family: Typography;
	font-weight: 60;
	text-align: center;
}