.right {
	display: block;
	background-image: url(src/imgs/phone.png);
	background-size: 100%;
	background-repeat: no-repeat;
	position: fixed;
	top: 30%;
	bottom: 0%;
	/* 画面下端からの距離を指定 */
	right: 3%;
	/* 画面右端からの距離を指定 */
	width: 550px;
	height: 700px;
	min-width: 300px;
	min-height: 400px;
	max-width: 900px;
	max-height: 900px;
}

h1 {
	width: 90%;
	padding: 0%;
}

.right img {
	width: 20px;
	position: absolute;
	top: 62%;
	left: 88%;
	transform: translate(-50%, -50%);
}

.stream-video-div {
	width: 88%;
	height: 42%;
	margin-top: 21%;
	margin-left: 6%;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 10px;
}

.stream-video-div video {
	object-fit: fill;
	width: 100%;
	height: 100%;
	border-radius: 10px;
}