.right {
	display: block;
	position: fixed;
	top: 30%;
	bottom: 0%;
	/* 画面下端からの距離を指定 */
	right: 3%;
	/* 画面右端からの距離を指定 */
	width: 550px;
	height: 700px;
	min-width: 300px;
	min-height: 400px;
	max-width: 900px;
	max-height: 900px;
}

h1 {
	width: 90%;
	padding: 0%;
}

.magnification {
	width: 20px;
	position: absolute;
	top: 56%;
	left: 88%;
	transform: translate(-50%, -50%);
	z-index: 5;
}

.stream-video-div {
	width: 90%;
	height: 42%;
	margin-top: 21.7%;
	margin-left: 5%;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 10px;
	z-index: 4;
}

.stream-video-div video {
	object-fit: fill;
	width: 100%;
	height: 100%;
	border-radius: 10px;
}

.phone-div{
	position: absolute;
	top: -40px;
	width: 100%;
	height: 100%;
}

.phone{
	position: absolute;
	top: 0px;
	z-index: 1;
	height: 90%;
	width: 100%;
}