.right {
	display: block;
	background-image: url(src/imgs/phone.png);
	background-size: 70%;
	background-repeat: no-repeat;
	position: fixed;
	top: 25%;
	left: 55%;
	width: 500px;
	height: 600px;
}


h1 {
	width: 90%;
	padding: 0%;
}

.right img {
	width: 20px;
	position: absolute;
	top: 253px;
	left: 300px
}